h4{
  text-align:center;
  font-family: 'Lobster', cursive;
  font-style:oblique;
  font-size:50;
  font-weight:bold;
  padding=0;
  
  
  
}
p{
  text-align:center;
  font-family:"Mead Bold", fantasy;
}

.well{
  padding:10px;
  border-radius:10px;
  margin-top:20px;
  background-color:white;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  width: 150px;
  padding: 10px;
}

.author{
  font-style:italic;
  margin-left:150px;
  margin-right:auto;
}

