.inner{
  margin-top:150px;
}
.searchdiv{
  background-color:lightblue;
  margin-left:auto;
  margin-right:auto;
  height:auto;
  margin-top:20px;
}

.resultdiv{
  margin-top:10px;
  border-color:black;
  border-radius:5px;
  border-size:5px;
  border-style:solid;
  background-color:white;
  font-size:20px;
  
}

.searchBtn{
  font-size:20px;
}

.input1{
  font-size:20px;
}

p{
  color:black;
  font-size:20px;
}
a{
  color:black;
  font-size:20px;
}