@import url('https://fonts.googleapis.com/css?family=Nosifer');

*{
    margin: 0;
    padding: 0;
}


.container{
    position: relative;
    display: flex;
    background-color: #009688;
    width: 100vw;
    height: 100vh;
    justify-content: space-around;
    flex-direction: column;
    
}


.hero{
    font-family: Nosifer;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.3);
    align-self: center;
}

.hero a{
    display: block;
    font-size: 60px;
    color: rgba(255, 255, 255, 0.3);
}

.hero .codepen{
    font-size: 20px;
}

.clock{
    position: relative;
    height: 127px;
    width: 430px;
    background-color: black;
    align-self: center;
    border: 30px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-around;

}

.dot1::after,
.dot1::before,
.dot2::after,
.dot2::before{
    content: '';
    border: 5px solid white;
    position: absolute;
    transform: rotate(45deg);
}


.dot1::after{
    top:90px;
    left: 145px;
}

.dot1::before{
    top: 44px;
    left: 145px;
}

.dot2::after{
    top:90px;
    left: 294px;
}

.dot2::before{
    top: 44px;
    left: 294px;
}

.box{
    position: relative;
    height: 127px;
    width: 50px;
    background-color: transparent;
    /* border: 1px solid black; */
}

.seg{
    position: absolute;
    background-color:rgba(255, 255, 255, 0.1);
    height: 8px;
    width: 40px;
    display: block;
}
.seg::after{
    
    content: '';
    border: 3px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    position: absolute;
}
.seg::before{
    
    content: '';
    border: 3px solid transparent;
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
    position: absolute;
}

.a{
    left: 5px;
    top: 10px;
}

.a::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
}

.a::before{
    top: 1px;
    right: -3px; 
    transform: rotate(135deg);
}

.b{
    top:15px;
    right: 0px;
    transform-origin: right;
    transform: rotate(-90deg);
}

.b::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
.b::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }

.c{
    bottom:54px;
    right: 0px;
    transform-origin: right;
    transform: rotate(-90deg);
}

.c::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
    .c::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }

.d{
    left: 5px;
    bottom: 9px;
}

.d::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
    .d::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }

.e{
    bottom:14px;
    right: 10px;
    transform-origin: left;
    transform: rotate(-90deg);
}

.e::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
    .e::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }

.f{
    top:55px;
    right: 10px;
    transform-origin: left;
    transform: rotate(-90deg);
}

.f::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
    .f::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }

.g{
    left: 5px;
    top: 60px;
}

.g::after{
    top: 1px;
    left: -3px; 
    transform: rotate(-45deg);
    }
    
    .g::before{
        top: 1px;
        right: -3px; 
        transform: rotate(135deg);
    }


    /* one */
#one .b,
#one .c{

    background-color: white;

}

#one > .b::after,
#one > .b::before,
#one > .c::after,
#one > .c::before
{
    border-top-color: white;
    border-left-color: white;
}


/* two  */

#two .a,
#two .b,
#two .g,
#two .e,
#two .d{

    background-color: white;

}

#two > .a::after,
#two > .a::before,
#two > .b::after,
#two > .b::before,
#two > .g::after,
#two > .g::before,
#two > .e::after,
#two > .e::before,
#two > .d::after,
#two > .d::before

{
    border-top-color: white;
    border-left-color: white;
}

/* three */

#three .a,
#three .b,
#three .g,
#three .c,
#three .d{

    background-color: white;

}

#three > .a::after,
#three > .a::before,
#three > .b::after,
#three > .b::before,
#three > .g::after,
#three > .g::before,
#three > .c::after,
#three > .c::before,
#three > .d::after,
#three > .d::before

{
    border-top-color: white;
    border-left-color: white;
}

/* four */

#four .b,
#four .f,
#four .g,
#four .c
{

    background-color: white;

}

#four > .b::after,
#four > .b::before,
#four > .f::after,
#four > .f::before,
#four > .g::after,
#four > .g::before,
#four > .c::after,
#four > .c::before
{
    border-top-color:white;
    border-left-color: white;
}

/* five */

#five .a,
#five .f,
#five .g,
#five .c,
#five .d
{

    background-color: white;

}

#five > .a::after,
#five > .a::before,
#five > .f::after,
#five > .f::before,
#five > .g::after,
#five > .g::before,
#five > .c::after,
#five > .c::before,
#five > .d::after,
#five > .d::before
{
    border-top-color: white;
    border-left-color: white;
}

/* six */

#six > .seg{
    background-color:white;
}
#six > .seg::after, #six > .seg::before{
    border-top-color: white;
    border-left-color: white;
}

#six .b{
    background-color:rgba(255, 255, 255, 0.1);
}
#six > .b::after,
#six > .b::before{
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
}

/* eight */

#eight > .seg{
    background-color:white;
}
#eight > .seg::after, #eight > .seg::before{
    border-top-color: white;
    border-left-color: white;
}


/* zero */

#zero > .seg{
    background-color:white;
}
#zero > .seg::after, #zero > .seg::before{
    border-top-color: white;
    border-left-color: white;
}

#zero .g{
    background-color:rgba(255, 255, 255, 0.1);
}
#zero > .g::after,
#zero > .g::before{
    border-top-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0.1);
}



/* seven */



#seven .a,
#seven .b,
#seven .c
{

    background-color: white;

}

#seven > .a::after,
#seven > .a::before,
#seven > .c::after,
#seven > .c::before,
#seven > .b::after,
#seven > .b::before
{
    border-top-color: white;
    border-left-color: white;
}

/* nine */

#nine .a,
#nine .f,
#nine .g,
#nine .c,
#nine .b,
#nine .d
{

    background-color: white;

}

#nine > .a::after,
#nine > .a::before,
#nine > .f::after,
#nine > .f::before,
#nine > .g::after,
#nine > .g::before,
#nine > .c::after,
#nine > .c::before,
#nine > .b::after,
#nine > .b::before,
#nine > .d::after,
#nine > .d::before
{
    border-top-color: white;
    border-left-color: white;
}
