body {
    font-family: "Verdana", sans-serif;
    background-color: #deeaee;
  }
  
  #title {
    margin-top: 5%;
    font-size: 75px;
    font-weight: bold;
  }
  
  #weather {
    font-size: 30px;
  }
  
  #temperature {
    font-size: 30px;
  }
  
  a, a:active, a:hover, a:visited {
    text-decoration: none!important;
    color: #c94c4c;
  }
  
  #icon {
    width: 100px;
    height: 100px;
  }
  
  #author {
    font-size: 20px;
  }
  
  #location {
    font-size: 35px;
  }